
@layer reset {

  /*
    Based on the modified version of Andy Bell's: A (more) Modern CSS Reset
    https://piccalil.li/blog/a-more-modern-css-reset/
  */

  /* Box sizing rules */
  html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  /* 
    Prevents font size inflation / font boosting
    Webkit bug (solved now) used to prevent zooming the page if value was set to none 
    instead of 100%. Likely why Normalize went for 100% & it’s not currently a concern anymore.
    https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
  */
  html {
    -moz-text-size-adjust: none; /* for Firefox on Android */
    -webkit-text-size-adjust: none; /* for Safari, which only supports it */
    text-size-adjust: none; /* Standard CSS property and for browsers that adheres to the current web standard */
  }

  /* Remove default margin in favour of better control in authored CSS */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  /*
    By default Safari removes the sementics of a list if list-style: none
    Use ARIA role="list" attribute on lists to reasserts the semantic meaning of a list.
    It tells browsers it's definitely a list, even if I style it to look like it isn't.
    As the list role is explicitly declared via the ARIA attribute, Safari's historical bug/behavior of stripping the semantics upon seeing list-style: none is overridden.  
  */
  [role='list'] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1,
  h2,
  h3,
  h4,
  button,
  input,
  label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}
